.nb-modal-foto {
  .modal-body {
    padding: 0;
    .img-container {
      height: 100%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: 0.2s ease;
      }
    }
  }
}