html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
  text-size-adjust: 100%;
}
body {
  background-color: var(--color-background-body);
  color: var(--color-text-base);
  font-size: var(--font-size-base);
}
img {
  max-width: 100%;
  // vertical-align: top;
}
a {
  // color: #1c2331;
  text-decoration: none;
}
a:hover {
  color: #7e57c2;
  text-decoration: none;
}
a:active {
  color: #7e57c2;
}
::selection {
  // background-color: rgba(28, 35, 49, 0.5);
  background-color: #7e57c2;
  color: #fff;
  // text-shadow: 0px 0px 5px rgba(28, 35, 49, 0.75);
}
::-moz-selection {
  background: #7e57c2; /* Gecko Browsers */
}
h1,
h2,
strong {
  font-weight: 700;
}
h3,
h4 {
  font-weight: 600;
}
em {
  font-style: italic;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.625rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1.0625rem;
}
p {
  font-size: 1rem;
}

@media (min-width: 960px) {
  h1 {
    font-size: 2.7849rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.928rem;
  }
  h4 {
    font-size: 1.8219rem;
  }
  h5 {
    font-size: 1.4993rem;
  }
  h6 {
    font-size: 1.0938rem;
  }
}
