
.home-card {
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  margin-bottom: 3rem;
  &__header {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
    &__like {
      width: 18px;
    }
    &__season {
      float: right;
      .time {
        font-size: 12px;
        font-weight: 600;
        color: rgb(189, 69, 69);
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }
  &__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  
  }
  &__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
  }
  &__info {
    z-index: 2;
    height: 10.2rem;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
    .badge {
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 500;
    }
    .card-title {
      margin-top: 5px;
      margin-bottom: 10px;
      font-family: 'Mali', sans-serif;
      font-weight: 700;
    }
    .card-author {
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      text-decoration: none;
      color: #AD7D52;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 380px;
      height: 34px;
    }
  }
  &:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.07, 1.07);
  }
  &:hover &__img--hover {
    height: 100%;
    opacity: 0.3;
  }  
  &:hover &__info {
    background-color: transparent;
    position: relative;
  }
  
  &:hover &__header {
    opacity: 1;
  }
}
