
ul {
  list-style: none;
  padding-left: 0;
}

.CharacterCard {
  width: 100%;
  height: 240px;
  background: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1rem;
  position: relative;
}

.CharacterCard__name-container {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem 0.5rem;
}

.text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}