
.character-card {
  margin: 1.2rem 0;
  padding: 1rem 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .2s;
  &:hover {
    transform: translateY(-5px);
  }
  .name {
    width : 100%;
    text-align: center;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
  }
  .title {
    color: white;
    margin: 0.6rem;
    padding: .5rem 1rem;
    border-radius: 50px;
    transition: .2s;
    cursor: pointer;
    &--dead {
      background-color: #c0392b;
      &:hover {
        box-shadow: 0 0 12px rgba(#c0392b, .8);
      }
    }
    
    &--unknown {
      background-color: #8c14fc;
      &:hover {
        box-shadow: 0 0 12px rgba(#8c14fc, .8);
      }
    }
    
    &--alive {
      background-color: #2ecc71;
      &:hover {
        box-shadow: 0 0 12px rgba(#2ecc71, .8);
      }
    }
  }
  img {
    height: 200px;
    width: 100%;
    max-width: 250px;
    border-radius: 0.2rem;
  }
  .desc {
    width : 100%;
    margin-bottom: 0.5rem;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .actions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    button {
      padding: .5rem .8rem;
      cursor: pointer;
      background-color: transparent;
      border: none;
      text-transform: uppercase;
      outline: 0;
      transition: background-color .4s, color .4s, transform .1s;
      &:hover {
        color: white;
        box-shadow: 0 0 24px rgba(black, .2);
      }
      &:active {
        transform: scale(0.95);
        box-shadow: 0 0 16px rgba(black, .3);
      }
    }    
    &__trade {
      &:hover {
        background-color: #3498db;
      }
    }
    
    &__cancel {
      &:hover {
        background-color: #f4d03f;
      }
    }
  }
  a:link,
  a:visited {
    text-decoration: none;
    color: #2574a9;
  }

  .active {
    background-color: #00b16a;
  }
}

.loader-text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: rgb(32, 32, 32);
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.3);
}
