
.navbar {
  background-color: #95c3ff;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.28);
  .logo {
    font-family: 'Mali', cursive;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
  }
}
