
.nav-container {
  background-color: white;
  text-align: start;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.28);
}

.navbar {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.navbar .logo {
  font-family: 'Mali', cursive;
  color: #212529;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
}
