.home-main {
  &__content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media only screen and (max-width: 990px) {
      & {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
      }
    }
  }
}
