
.home-main {
  .hero {
    position:relative;
    text-align:center;
    color:white;
    .carousel {
      .carousel-item {
        max-height: 480px;
        overflow: hidden;
        img {
          height: 480px;
          object-fit: cover;
        }
        h1 {
          position: absolute;
          top: 38%;
          left: 0; 
          right: 0; 
          margin-left: auto; 
          margin-right: auto; 
          font-family: 'Mali', sans-serif;
          font-weight: 600;
          letter-spacing: 2px;
          font-size:48px;
          text-decoration: none;
          text-shadow: 0px 0px 5px #1C2331;
        }
      }
      .carousel-control-prev-icon {
        width: 2rem;
        height: 2rem;
        background-image: url(./../../assets/images/arrow-prev.svg);
      }
      .carousel-control-next-icon {
        width: 2rem;
        height: 2rem;
        background-image: url(./../../assets/images/arrow-next.svg);
      }
    }
    .waves {
      position:relative;
      width: 100%;
      height:12vh;
      margin-top: -9rem;
      margin-bottom: -2rem; /*Fix for safari gap*/
      min-height:80px;
      max-height:120px;

      /* Animation */
      .parallax > use {
        animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
      }
      .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
      }
      .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
      }
      .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
      }
      .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
      }
      @keyframes move-forever {
        0% {
         transform: translate3d(-90px,0,0);
        }
        100% { 
          transform: translate3d(85px,0,0);
        }
      }
    }
    .flex { /*Flexbox for containers*/
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    /*Shrinking for mobile*/
    @media (max-width: 768px) {
      .waves {
        height:40px;
        min-height:40px;
        margin-top: -6rem;
        margin-bottom: -2rem;
      }
    }
  }

  .home-content {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
